// Bootstrap brand color customization
// $brand-primary: $purple !default;
// $brand-success: $green !default;
// $brand-danger: $red !default;
// $brand-warning: $orange !default;
// $brand-info: $cyan !default;
// $brand-rose: $pink !default;
$brand-primary: #224a5f !default;
$brand-success: #3f9155 !default;
$brand-danger: #f44336 !default;
$brand-warning: #bd811d !default;
$brand-info: #151319 !default;
$brand-rose: #EDE2E1 !default;
